<div class="container">
  <header class="header">
    <div class="logo-container">
      <img class="logo" src="assets/svg/main-illustration.svg" alt="Logo">
    </div>
  </header>
  
  <main class="main-content">
    <section class="info-card">
      <h2>Escolha uma opção</h2>
      <div class="info-buttons">
        <button class="info-button" routerLink="/complaint">Reclame Aqui</button>
        <button class="info-button" routerLink="/view">Reclamações</button>
        <button class="info-button" routerLink="/ranking">Ranking de Reclamações</button>
        <button class="info-button" routerLink="/">Voltar ao Menu</button>
      </div>
    </section>
  </main>
</div>
