<main class="auth-page">
  <div class="auth-logo">
    <img src="assets/svg/areavermelha-logo.svg" alt="Área Vermelha Logo" class="small-logo">
  </div>

  <section class="auth-illustration">
    <img src="assets/svg/main-illustration.svg" alt="Área Vermelha Principal Logo" class="main-logo">
  </section>

  <section class="auth-form-container">
    <div class="auth-card">
      <h1>Acesse sua conta<br>Área Vermelha</h1>
      <form class="auth-form" (submit)="onLogin($event)">
        <div class="form-group">
          <label for="cpf">CPF</label>
          <input id="cpf" type="text" placeholder="000.000.000-00">
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input id="password" type="password" placeholder="******">
        </div>
        <button type="submit" class="auth-button">Acessar</button>
      </form>
    </div>
  </section>
</main>
