<div class="container">
  <header class="header">
    <div class="logo-container">
      <img class="logo" src="assets/svg/areavermelha-logo.svg" alt="Logo">
      <div class="btn-container">
        <button class="btn login" routerLink="/login">Entrar</button>
        <button class="btn register" routerLink="/register">Cadastrar</button>
      </div>
    </div>
  </header>
  
  <main class="main-content">
    <section class="banner">
      <img src="assets/svg/vacinaBanner.svg" alt="Novembro Azul">
    </section>
    <section class="info">
      <h2>Seja bem-vindo(a) ao Área Vermelha!</h2>
    </section>
  </main>
  
  <footer class="footer">
    <div class="footer-section">
      <h3>Serviços (em breve)</h3>
      <a routerLink="#"></a>
    </div>
    <div class="footer-section">
      <h3>Sobre o Inovatech 2024</h3>
      <a href="https://blog.fametro.edu.br/inovtech-2024-feira-de-inovacao-tecnologica-da-fametro-explora-o-futuro-das-cidades-inteligentes/" target="_blank" class="footer-link">Inovatech 2024</a>
    </div>
    <div class="footer-section">
      <h3>Sobre a AV</h3>
      <a routerLink="/article">Artigo</a>
      <a routerLink="#"></a>
    </div>
    <div class="footer-section">
      <h3>Central de Ajuda (em breve)</h3>
      <a routerLink="#"></a>
    </div>
  </footer>
</div>
