$primary-color: #14213D;
$secondary-color: #FCA311;
$text-color: #000000;
$background-color1: #FFFFFF;
$background-color2: #E5E5E5;
$border-color: #ccc;
$background-light: #f9f9f9;
$box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
$success-color: #28A745;
