<div class="container">
  <header class="header">
    <div class="logo-container">
      <img src="assets/svg/areavermelha-logo.svg" alt="Ícone">
    </div>
    <div class="nav-buttons">
      <button class="back-button" routerLink="/view">Voltar</button>
    </div>
  </header>
  
  <main class="main-content">
    <section class="info-card">
      <h2>Suas Reclamações</h2>
      <ul class="areas-list" *ngIf="complaints.length > 0; else noComplaints">
        <li class="area-item" *ngFor="let complaint of complaints">
          <span class="area-incidents">CEP: {{ complaint.cep }}</span>
          <span class="area-incidents">Rua: {{ complaint.street }}</span>
          <span class="area-incidents">Bairro: {{ complaint.neighborhood }}</span>
          <span class="area-incidents">Cidade: {{ complaint.city }}</span>
          <span class="area-incidents">Estado: {{ complaint.state }}</span>
          <span class="area-incidents">Descrição: {{ complaint.description }}</span>
          <img *ngIf="complaint.image" [src]="'data:image/jpeg;base64,' + complaint.image" alt="Imagem da Reclamação" />
        </li>
      </ul>
      <ng-template #noComplaints>
        <p class="no-complaints">Nenhuma reclamação registrada.</p>
      </ng-template>
    </section>
  </main>
</div>
