<div class="header-container">
  <img src="assets/svg/areavermelha-logo.svg" alt="Logo" class="logo">
  <a routerLink="/choice" class="back-link">Voltar</a>
</div>

<div class="container">
  <h2 class="title">Cadastrar Reclamação</h2>
  <form class="form" (ngSubmit)="onSubmit()">
      <div class="form-left">
          <div class="form-group">
              <label for="cep">CEP</label>
              <input id="cep" type="text" class="form-control">
          </div>
          <div class="form-group">
              <label for="rua">Rua</label>
              <input id="rua" type="text" class="form-control">
          </div>
          <div class="form-group">
              <label for="bairro">Bairro</label>
              <input id="bairro" type="text" class="form-control">
          </div>
          <div class="form-group">
              <label for="cidade">Cidade</label>
              <input id="cidade" type="text" class="form-control">
          </div>
          <div class="form-group">
              <label for="uf">UF</label>
              <input id="uf" type="text" class="form-control">
          </div>
      </div>
      <div class="form-right">
          <div class="form-group full-width">
              <label for="descricao">Descrição do local do incidente</label>
              <textarea id="descricao" class="form-control" rows="8" placeholder="Digite a descrição aqui..."></textarea>
          </div>
          <div class="form-group file-upload">
              <label for="foto">Inserir foto/anexo</label>
              <button type="button" class="add-button" onclick="document.getElementById('foto').click()">Adicionar</button>
              <input id="foto" type="file" class="form-control" accept="image/*">
          </div>
      </div>
      <div class="form-actions">
          <button type="button" class="btn cancel-button" routerLink="/choice">Cancelar</button>
          <button type="submit" class="btn save-button" routerLink="/choice">Salvar</button>
      </div>
  </form>
</div>
